IDR_benchmark.ipynb filter=lfs diff=lfs merge=lfs -text
data/unformatted_ptm_data/DiGly_lib_U2OS_MG132_treated.tsv filter=lfs diff=lfs merge=lfs -text
data/unformatted_ptm_data/DiGly_lib_U2OS_MG132_untreated.tsv filter=lfs diff=lfs merge=lfs -text
